@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 7%;
    --foreground: 0 0% 93%;
    --card: 0 0% 7%;
    --card-foreground: 0 0% 93%;
    --popover: 0 0% 7%;
    --popover-foreground: 0 0% 93%;
    --primary: 0 0% 93%;
    --primary-foreground: 0 0% 7%;
    --secondary: 0 0% 60%;
    --secondary-foreground: 0 0% 93%;
    --muted: 0 0% 15%;
    --muted-foreground: 0 0% 60%;
    --accent: 0 0% 15%;
    --accent-foreground: 0 0% 93%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 93%;
    --border: 0 0% 15%;
    --input: 0 0% 15%;
    --ring: 0 0% 60%;
    --radius: 0.125rem;
    --brand: 130 84% 44%;
    --hover: 0 0% 15%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

html, body {
  height: 100%;
}

